[2017-06-20 09:42] wvangeit opened #5 "Make sure all images are visible in collab"
To show images in notebooks in the collab, they should all be placed in a public url.
[code]

[2017-06-20 09:44] wvangeit opened #6 "Make sure MOD files can be compiled in collab"
For the synapse tutorials, MOD files need to be compiled.
This MOD files should be made available at a public url and downloaded from the notebooks

[2017-06-20 09:45] wvangeit opened #7 "Remove all solutions from tutorials"
There were some temporary solutions add to some of the notebooks. All of these should be removed

[2017-06-20 09:45] wvangeit opened #8 "Test grader for 'modeling neurons'"
The grader of week 3 has to be tested and deployed in the collab

[2017-06-20 10:53] wvangeit opened #9 "Pin versions in pip install and disable verbose output"
In all the notebooks we should pin the versions of the software we install with pip install
We should also use pip -q install so that stdout is suppressed

[2017-06-21 08:25] #7 closed, assigned to wvangeit

[2017-06-21 09:35] #5 closed, assigned to nobody

[2017-06-22 09:14] #8 closed

[2017-06-22 09:42] jdcourcol opened #21 "week 3 Modeling neurons failing"
I logged in with a new created user:

in this cell:
![image](https://user-images.githubusercontent.com/5441880/27427587-d05da8fe-573f-11e7-97c6-931e679e0594.png)
I got that call stack:
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-26-ea2069647a71> in <module>()
     15     max_v

[2017-06-22 09:44] jdcourcol opened #22 "import error when using submission widget"
I ran through notebook week 3. Graded exercise as a newly created user:
![image](https://user-images.githubusercontent.com/5441880/27427678-220cfeb6-5740-11e7-8ac9-c4c4608a2632.png)

[2017-06-22 10:09] antonelepfl commented on #22
@wvangeit
If we put the pip install and the import on the very top of the notebook (before !pip install -q bluepyopt==1.5.12 matplotlib==2.0.2 numpy==1.13.0)
And then in the end we just call the widget the error disappears.
Could you change that please?

[2017-06-22 10:15] wvangeit commented on #21
Wow, how did that get there, probably accidental copy-paste, will fix the format string.

[2017-06-22 10:16] wvangeit commented on #22
ok, interesting .... will have a look

[2017-06-22 10:27] #9 closed

[2017-06-22 10:28] #6 closed

[2017-06-22 10:48] wvangeit commented on #21
Actually, was not really an error. That's a color in new version of matplotlob. Something is going wrong with pip install

[2017-06-22 10:50] jdcourcol commented on #21
be careful because notebook shares python installation and some notebooks are installing matplotlib.

[2017-06-22 10:52] wvangeit commented on #21
actually, in my case it works. Did you run this in a notebook with a pip install on top ?

[2017-06-22 10:55] wvangeit commented on #22
Do we know 'why' this happens ?
Not sure we should try to fix it before we know it won't affect other things

[2017-06-22 10:56] jdcourcol commented on #21
I ran it as a newly created user, in the order of the notebooks

[2017-06-22 11:51] wvangeit commented on #22
Ok, we figured out why this happens. For future reference, the 'import neuron' statement sets the PYTHONHOME variable, and this messes up the pip / virtualenv in the collab.
To solve this, one should run:

import os
os.unsetenv('PYTHONHOME')

before every pip (or after importing neuron)

[2017-06-22 12:05] #22 closed

[2017-06-22 12:19] #21 closed

[2017-07-06 09:00] wvangeit opened #30 "Week 4 git clone fails if dir exists"
It might make sense to add:
!rm -rf MOOC-neurons-and-synapses-2017
before the !git clone command in the Week 4 notebook.

That way one is sure to get the latest MOD files, and it prevents the error one gets if one has run the same notebook before.

[2017-07-06 09:09] wvangeit opened #31 "Week 4 graded exercise widget install fails"
The >/dev/null 2>&1 is hiding an error message in the week 4 graded exercise
!pip -q install --upgrade --pre -i https://bbpteam.epfl.ch/repository/devpi/simple/ single-cell-mooc-client  > /dev/null 2>&1

One gets:
ImportError: No module named site

It's because of:
https://github.com/BlueBrain/mooc-grading-service/blob/master/docs/faq.md#when-pip-installing-the-widget-i-get-importerror-no-module-n

[2017-07-14 10:54] #31 closed

[2017-07-14 10:54] #30 closed

[2017-07-16 14:29] wvangeit opened #40 "Fix week 5 grader in next iteration"
In the next iteration of this MOOC, fix the Week 5 grader and tutorial notebook, by:
- use the same SWC file for graded exercise and main notebook
- add hh to dendrite in grader

[2017-07-16 14:39] wvangeit opened #41 "Split up Week 3 exercise"
Split Week 3 exercise in separate notebooks so that the don't affect the results further in the notebook

[2017-10-11 11:50] wvangeit opened #46 "Fix text error in constrmodels notebook"
The following text should be checked in
https://github.com/BlueBrain/MOOC-neurons-and-synapses-2017/blob/master/ConstrModels/TutBallStickOpt/ballandstickopt.ipynb
E.g. this is wrong:  'so we know that this should generate a perfect score of 0 for step1'

Now we can ask evaluator to calculate the scores for a set of parameters. (The lower the score the better the model). Let's calculate the score o

[2019-03-31 04:30] James-Brown opened #50 "Set up your HBP Collab not working"
I have tried Many times to set up an HBP account without successes.  I press the button GetHBP Invitation and receive:
An invitation has been sent to your address jim@seti.net.

Go to your inbox and search for an email named Invitation to Collaboratory. Open it and follow the steps.

Once your HBP account has been created, come here to finish setting it up for this course.

But no email ever arriv

[2019-04-01 12:22] alex4200 commented on #50
@Annechien Do you know who can take a look at this issue?

[2019-04-03 16:54] James-Brown commented on #50
I gave up trying to get the email responder to work. I finally had to create a Google email account, reassociated my edX account to this new one and finally was able to create an HBP account.
Something is dreadfully wrong somewhere.

[2020-01-07 12:45] jdcourcol opened #51 "malformed answer on week 4"
Subject: Simulation Neuroscience MOOC Week 4 question
Date: 6 January 2020 at 12:23:42 GMT+2

[2020-01-29 20:22] VlasKulchitsky opened #52 "Need Help: ballandstick.ipynb code - Python - SyntaxError"
Hello!

OS: Windows 10 Home.
Software: Anaconda2-2019.10-Windows-x86_64
I am trying to run the code from the ballandstick.ipynb using the Python
https://github.com/BlueBrain/MOOC-neurons-and-synapses-2017/blob/master/ModelingNeurons/TutBallStick/ballandstick.ipynb
First lines go well untill In [15], where I receive a SyntaxError message.
Here is that piece of code:

...     import matplotlib.pyplo

[2020-01-30 09:19] jdcourcol commented on #52
@wvangeit  I assign to you. I don't have a windows station to reproduce. It works fine on ubuntu though.

[2020-01-30 09:22] wvangeit commented on #52
I honestly don't really know what could be going on.
Could it be a hidden character? Maybe you can try to delete the entire plot_tv(time, voltage) and see if you still get the same error?

[2020-01-30 11:55] jdcourcol commented on #52
I cannot reproduce on win7/anaconda2-2019-10.Windows-x86_64.exe too.

[2020-01-30 13:53] VlasKulchitsky commented on #52
Many thanks for such a fast reaction, guys!
Wanna make a note: I'm biologist. My expertise is far from IT/programming/computer-modelling. So, mistakes and questions can be very-very primitive (just don't hit me too hard, ok?)))
So, some new info:
- What I was writing above was about Python started using Anaconda Prompt (or directly python.exe).
- Just discovered that if I run Python in a Jupyter N

[2020-01-30 15:34] jdcourcol commented on #52
I cannot reproduce your trouble on win7/anaconda2-2019-10.Windows-x86_64.exe

[2020-01-30 15:37] jdcourcol commented on #52
How did you fetch the .ipynb file locally ? Did you use the `git clone` command ?

[2020-01-30 15:39] jdcourcol commented on #52
you mean you copy paste the code from the notebook into the prompt you get when starting python.exe ?

[2020-01-30 16:50] VlasKulchitsky commented on #52
to **jdcourcol**
Yeah. Partly copy-pasting, partly re-typing.
I thought that's an idea to learn some basic commands))))

[2020-02-14 11:59] ngulya opened #53 "NO Q1 key"
In week 4 in graded ex if you push your ans(json) with Q1-5 keys and if in Q5 you have value not float as default - 'my answer', u get error as - Q1 not found in ans json

[2020-04-06 08:39] Blaise-g opened #54 "Error uploading graded exercise week 2"
I set up my HBP collab, completed and submitted my assignment while also providing the key and I recive this message: The grading process failed to complete. Please double-check your answer or contact the organizers of the course with the following information: [params: {u'answer': u"{'specimen_id': '', 'email': ''}", u'submission_token': u'J6M0nJG6FTXrX0M9EOLcrReCtVae'} , exception: No data avail

[2020-04-07 17:01] #54 closed

[2020-09-18 04:59] hernanhd14 opened #56 "week 3 assignment"
Hi, my name is Hernan. I did the assignment of the week 3 and it didn't go really well. I don't know if I can submit it again?  Can someone help me with that? This is what I did...
neuron.h.load_file("stdrun.hoc");
neuron.h.stdinit();

# Define soma
soma = neuron.h.Section(name='soma')
soma.L = 40
soma.diam = 40
soma.insert('hh');
soma.gl_hh = 5e-4 # Leak conductance, S/cm^2
soma.el_hh = -65 # Rev

[2020-09-18 07:06] jdcourcol commented on #56
Hi,

did you get an error message or something ? do you have a screenshot that shows the issue ?

[2020-09-18 22:22] hernanhd14 commented on #56
Hi, not really. It wasn't an error of the codes... I supposed it is the wrong answer. But I can't develop what is it the mistake?

[2020-12-19 19:56] aleksandernitka opened #57 "Cannot open W2 Graded exercise"
I am unable to run the python notebook on collab. Tried to do it locally but cannot download the submission repo. Please advise.

[2020-12-21 10:13] alex4200 commented on #57
@aleksandernitka  Can you please report the error you get, and attach possibly a screenshot?

[2020-12-21 18:55] aleksandernitka commented on #57
<img width="1666" alt="error" src="https://user-images.githubusercontent.com/19268202/102811880-64e13b00-43c6-11eb-8b6a-7c9f68671487.png">

[2020-12-22 09:27] alex4200 commented on #57
Please write to support@humanbrainproject.eu and include your screenshot, and your User ID.

In the meantime, you can try to use a different browser, clean the browser data, or try to use a private browser tab.

[2020-12-27 12:29] alobiz-a opened #58 "Unable to submit graded exercises"
Hi, everytime I try to load the submission widget into Jupyter notebook, I get told that there is no module named single_cell_mooc_client.

Anyone know why this is or how to fix it?

![image](https://user-images.githubusercontent.com/76615392/103170793-093c0500-483f-11eb-8faf-b0beb75c44ac.png)

[2020-12-27 12:30] alobiz-a commented on #57
I had the same error when using Chrome. Try Firefox.

[2021-01-04 09:01] alex4200 commented on #58
Hello @alobiz-a, try to rerun the "install" cell, but using the following command:

`!pip install --upgrade --pre -i https://bbpteam.epfl.ch/ repository/devpi/simple/ single-cell-mooc-client`

(so the same command without `-q` and without `> /dev/null`, so you can see if there is an error).

[2021-01-04 21:56] alobiz-a commented on #58
@alex4200 Thanks!

I've tried it and I get an error message telling me I have an invalid requirement:
![image](https://user-images.githubusercontent.com/76615392/103583391-874f7a00-4ed7-11eb-9232-4f2b3b3c9176.png)

Any idea what I can do next?

[2021-01-05 06:03] alex4200 commented on #58
Oh, I seem to have given a somewhat incorrect command. There should be no space before "repository". Try the following corrected command:

`!pip install --upgrade --pre -i https://bbpteam.epfl.ch/repository/devpi/simple/ single-cell-mooc-client`

[2021-01-05 12:01] alobiz-a commented on #58
@alex4200 Ah, thank you. This time I get a different error...

![image](https://user-images.githubusercontent.com/76615392/103643934-6a558e00-4f4d-11eb-84ad-225346d8a739.png)

[2021-01-05 12:27] alex4200 commented on #58
Add the following line to the install cell:

`!pip install --upgrade pip`

just before the other 'pip install' command in order to upgrade pip, and try again.

[2021-01-05 22:08] alobiz-a commented on #58
Good stuff!! It finally asks me for a submission key! Thank you!
![image](https://user-images.githubusercontent.com/76615392/103704934-145f0580-4fa2-11eb-989f-2ff4beda3678.png)

[2021-01-05 22:09] alobiz-a commented on #58
I just use the respective key provided from the course on edX, right?

[2021-01-06 06:13] alex4200 commented on #58
Yes, that should work.

[2021-01-07 09:58] samuel-kerrien commented on #57
Dear @aleksandernitka, have you had a chance to hear from HBP with respect to the issue you reported ?

[2021-01-07 12:41] aleksandernitka commented on #57
Hi @samuel-kerrien yes I have, still working on other issues I am having with the platform, but this issue can be closed as a system ticker has been raised on HBP platform. Thanks for your help.

[2021-01-07 12:41] #57 closed

[2021-01-07 17:07] #58 closed

[2021-02-04 09:10] AGuyNextDoor opened #60 "Week 4 StochasticTM AMPA NMDA MOD files"
Hello,

I'm having trouble compiling the mod files from the week 4 exercises.

When executing the following command
[code]

I get the following error

[code]

There seems to be an error with the StochasticTsodyksMarkram_AMPA_NMDA.mod file.
When I delete the file, the compiling goes fine but it makes me unable to do the graded exercise for this week.

This is run locally on MacOS Big Sur 11.2, usin

[2021-02-04 09:31] wvangeit commented on #60
I tried to compile the MOD files myself on Big Sur 11.2, but I don't get an error.
Which version of neuron are you using? Could you maybe try to install neuron using 'pip install neuron' ?

In case you modified the MOD file, could you provide the modified version.

Thank you.

[2021-02-04 09:46] AGuyNextDoor commented on #60
Thank you for your answer.

I'm using python3.8 and NEURON 7.8.2

I'm managed to "temporarily" solve it. I saw that a line was missing in the mod file for the derivative of R so I added the R' from the TsodyksMarkram_AMPA_NMDA.mod file

[code]

After that it seemed to compile fine but I'm not really sure if I can trust my model...

[2021-02-04 10:08] wvangeit commented on #60
I'm not sure your change will indeed be the correct one.
I think it's better to remove R from the state variables, and put it into the ASSIGNED block

[2021-02-04 10:15] AGuyNextDoor commented on #60
This seems to work fine!
Can't record `_ref_R` anymore but doesn't seem to be used for this exercise!

Thanks a lot!

[2021-02-04 10:16] #60 closed

[2021-02-04 10:17] wvangeit commented on #60
to record it, it also need to be in the RANGE list above

[2021-02-10 09:28] AGuyNextDoor opened #61 "Week 6 NMC Portal zip L5_TTPC2_cADpyr232_1"
Hello,

I'm trying to compile the "**Week 6. NMC portal**" on the collab HBP website jupyter notebook.

After running the function
`urllib.urlretrieve('https://bbp.epfl.ch/nmc-portal/documents/10184/1921755/L5_TTPC2_cADpyr232_1.zip/a058fc9c-6c67-417b-a65b-20742902ccbb','L5_TTPC2_cADpyr232_1');`
I can check with a `!ls` command that the file has been properly downloaded.

[code]

But when running t

[2021-02-10 12:44] antonelepfl commented on #61
Thank you for reporting this issue. We will investigate.

Meanwhil, you can try to use the URL `https://bbp.epfl.ch/nmc-portal/nmc-portal/assets/documents/static/downloads-zip/L5_TTPC2_cADpyr232_1.zip`

[2021-02-10 13:40] AGuyNextDoor commented on #61
When using the URL I can the following error:

[code]

[2021-02-10 13:57] AGuyNextDoor commented on #61
It worked when downloading and then going directly with

[code]

for the unzipping.

Can you confirm that this divergence won't impact the exercise resolution later on?

Thank you for your time.

[2021-02-10 16:36] alobiz-a opened #62 "Invalid key"
Hi all!

I am trying to submit the week 2 graded exercise, but I get an error message saying the key is invalid.
(I got this key from the Week 2 assignment page on EdX.)

Any ideas on what I can do to get this working?

[2021-02-12 08:07] AGuyNextDoor commented on #62
Same here and it doesn't seem to work for any graded exercises for any week.
I've posted it on the [HBP forum](https://forum.humanbrainproject.eu/t/submission-key-hpb-collab/1516), I'll try keeping you updated if I have an answer there

[2021-02-12 08:18] AGuyNextDoor commented on #61
Exact same problem with the final graded exercise in week 6 NMC portal

The link to download:

[code]

And same error message when trying to unzip it

[code]

[2021-02-12 08:22] AGuyNextDoor commented on #61
When trying to unzip it manually with

[code]

I get this error

[code]

[2021-02-12 08:24] AGuyNextDoor commented on #61
(this error is solved by the pull request #63, I added the message for later reference)

[2021-02-12 08:24] #61 closed

[2021-02-12 08:55] antonelepfl commented on #62
We are looking into this issue

[2021-02-12 10:54] antonelepfl commented on #62
As a workaround you can re-install the `single-cell-mooc-client` package version `0.0.6`

[code]

You might need to restart the kernel to apply these changes

[2021-02-12 13:16] #62 closed

[2021-02-18 21:24] Anner-deJong opened #65 "StochasticTsodyksMarkram_AMPA_NMDA.mod does not compile (in "Week 4. Graded assignment.ipynb")"
Output when running `!nrnivmodl ./MOOC-neurons-and-synapses-2017/ModelingSynapses/mechanisms` :
[code]

 Tried several changes (see below) but my unfamiliarity with .mod files, as well as I cant compile locally but only in a colab, is not getting me anywhere. Hopefully someone more familiar has a fix.

 -----------
Side notes:

It seems this file is an update from the non Stochastic file, but with

[2021-02-19 09:08] wvangeit commented on #65
It looks like something changed in NEURON. Somebody else had reported this before:
https://github.com/BlueBrain/MOOC-neurons-and-synapses-2017/issues/60

I've just pushed a fix to this repo:
https://github.com/BlueBrain/MOOC-neurons-and-synapses-2017/pull/66/files

This fix will only be visible to people who create a new collab, so I propose for now you manually apply the fix above.

Thanks, let u

[2021-02-21 21:20] isi1000 opened #67 "INTERNAL SERVER ERROR (Set up HBP collab error)"
I can't get the invitation from HBP. When I click the button (in the configuration section in week 2) a window appears with the message "Internal server error". What I can do?

[2021-02-22 06:49] antonelepfl commented on #67
Thank you for reporting this, can you send me your email address that you used in EDX?

[2021-02-22 08:00] isi1000 commented on #67
Isidrosobrinos@gmail.com

El lun., 22 feb. 2021 7:49, Stefano Antonel <notifications@github.com>
escribió:

[2021-02-22 08:09] antonelepfl commented on #67
As a temporal solution so you are not blocked, I have invited you to the Collab

From: isi1000 <notifications@github.com>
Reply to: BlueBrain/MOOC-neurons-and-synapses-2017 <reply@reply.github.com>
Date: Monday, 22 February 2021 at 09:01
To: BlueBrain/MOOC-neurons-and-synapses-2017 <MOOC-neurons-and-synapses-2017@noreply.github.com>
Cc: Antonel <stefano.antonel@epfl.ch>, Comment <comment@noreply.g

[2021-02-28 20:11] Anner-deJong commented on #65
Compiles like a charm, thank you Werner van Geit!

(Sorry I didnt see the other issue before)

[2021-02-28 20:11] #65 closed

[2021-03-13 18:06] isi1000 opened #68 "Problem with Collab: The page have redirect you so many times"
Hi! HBP collaboration is not working, when i try to open the workspace it said to me "jupyterhub.humanbrainproject.org have redirect you so many times".
It have already happened to me the last week (trying to do the week2 asiggment), and i could fix it open the collaboratory in firefox but now i've try it in firefox, chrome, microssoft edge and nothing works.

what should i do?
Thanks.

[2021-03-14 21:39] Anner-deJong opened #69 "`nrn.h.load_file("./init.hoc");` crashes notebook"
When arriving at and running the cell: **`nrn.h.load_file("./init.hoc");` of the 'Week 6. NMC portal' notebook, the kernel keeps crashing**. Not sure why. (notebook taking from HBP collab, but seems the same as [github version](https://github.com/BlueBrain/MOOC-neurons-and-synapses-2017/blob/master/NMCPortal/NMCPortal.ipynb)). Tried both locally (without compiling `!nrnivmodl mechanisms`) and in a

[2021-03-16 13:21] wvangeit commented on #69
This error message probably means that for some reason the mechanisms (like Ih) / MOD files could not be loaded.
That you get it locally without running nrnivmodl mechanisms, it is normal. What was the reason you didn't run nrnivmodl?

For the run on the HBP collab. It could be that an error happened during the compilation of the MOD files. Does the notebook show some particular output after execu

[2021-03-17 12:25] Anner-deJong commented on #69
Thanks Werner, will get back to you.
- locally my work laptop prevents executing nrnivmodl
- remote in the google colab I confirmed before nrnivmodl compiled everything successfully. Will try and confirm this again, and paste error + detail.

[2021-03-28 20:45] Anner-deJong commented on #69
Thanks again for confirming Werner.

Confirmed both the `create_cell()` and `nrn.h.load_file("./init.hoc")` now run fine in my remote colab.

------------------------
Not sure what I did wrong the first time, presumably I didnt run the nrnivmodl correctly, or I messed up the environment with wrong versions too much (currently still some packages have other versions, notable neurom which wont pip3

[2021-03-28 20:45] #69 closed

[2021-03-29 08:35] wvangeit commented on #69
Ok, good to hear that it works now

[2021-05-04 10:05] mlrennerfr opened #70 "Collabs do not work any more"
Hi! I cannot longer connect to HBP collabs, so I cannot go through the exercises of theSimulation Neuroscience MOOC. Is that me, my account, or is it something else?
Thank you!
Marianne

[2021-06-01 09:12] antonelepfl opened #72 "NMC portal notebooks issues"
In notebooks:
[Final graded assignment.ipynb](https://github.com/BlueBrain/MOOC-neurons-and-synapses-2017/blob/2021_release/NMCPortal/Final%20graded%20assignment.ipynb)
[NMCPortal.ipynb](https://github.com/BlueBrain/MOOC-neurons-and-synapses-2017/blob/2021_release/NMCPortal/NMCPortal.ipynb)

When:
[code]

Output:
[code]

To access to NOTO platform [link](https://edge.edx.org/courses/course-v1:EPFL

[2021-06-01 09:18] antonelepfl opened #73 "ConstrModels notebooks issues"
In notebooks:
[GradedExercise.ipynb](https://github.com/BlueBrain/MOOC-neurons-and-synapses-2017/blob/2021_release/ConstrModels/TutBallStickOpt/GradedExercise.ipynb)
[ballandstickopt.ipynb](https://github.com/BlueBrain/MOOC-neurons-and-synapses-2017/blob/2021_release/ConstrModels/TutBallStickOpt/ballandstickopt.ipynb)

With:
bluepyopt (v 1.10.12) and numpy (1.19.5):

We get some errors / warning s

[2021-06-01 09:26] wvangeit commented on #73
so just to be sure, you're getting this because you updating all libraries to the latest versions?

[2021-06-01 09:28] antonelepfl commented on #73
Indeed and also we have moved away from Collab to use NOTO

[2021-06-01 13:11] wvangeit commented on #72
@antonelepfl maybe a NeuroM ticket should be created?

[2021-06-01 13:30] wvangeit commented on #73
I upgraded numpy in the notebook (!pip install numpy --upgrade) and that solved the issue it seems. Not sure if that's a good idea to do in the final notebook. But so it seems there is an issue with numpy.

[2021-06-01 13:54] antonelepfl opened #74 "One point section Import3d_Section[1] ending at line 3 has been removed"
In notebook:
[ballandstickopt.ipynb](https://github.com/BlueBrain/MOOC-neurons-and-synapses-2017/blob/2021_release/ConstrModels/TutBallStickOpt/ballandstickopt.ipynb)

With Neuron 7.8.2 we get a lot of these outputs
[code]

To access to NOTO platform [link](https://edge.edx.org/courses/course-v1:EPFLx+SimNeuroX+2017_T2/courseware/94e4883f4598474ca102781bbe5688ef/36386e964bc8495e850c42f266a3f6c9/1?

[2021-06-29 12:46] antonelepfl commented on #74
Neuron 8 was installed.
This warning disappeared.

[2021-06-29 12:46] #74 closed

[2021-06-29 12:47] antonelepfl commented on #72
This issue was fixed by a new release of NeuroM

[2021-06-29 12:47] #72 closed

[2021-07-09 08:30] antonelepfl commented on #73
With the latest version of Numpy, the issue does not appear anymore.

![Screenshot 2021-07-09 at 10 30 01](https://user-images.githubusercontent.com/24406041/125048870-a60a1580-e0a0-11eb-9c65-229ad17ebf2a.png)

So I think we can remove the banner

![Screenshot 2021-07-09 at 10 28 26](https://user-images.githubusercontent.com/24406041/125048798-95599f80-e0a0-11eb-9bd5-f5d4a626b39b.png)

FYI @alex42

[2021-07-09 11:29] alex4200 commented on #73
Yes, I had a quick look, I can confirm the error does not appear anymore.

[2021-07-19 10:51] alobiz-a opened #79 "Attribute error in week 4 assignment"
Hey there, for some reason I get the following attribute error when running the week 4 code:
![image](https://user-images.githubusercontent.com/76615392/126149170-3bea5648-df06-4936-8c4a-12ed94a0395b.png)

Anyone know why this is?

[2021-07-20 06:48] alobiz-a commented on #70
Hey, I seem to have the same issue. I don't know where to go from this page:

![image](https://user-images.githubusercontent.com/76615392/126274699-cb23f37b-9967-4a1c-979c-15a096fce678.png)

[2021-07-20 06:55] stefanoantonel commented on #70
I have contacted the support team to have a look.
Can you tell me your userid?

[2021-07-20 10:08] wvangeit commented on #79
Hi,
Could you tell us which notebooks this happens in? I'd tried to reproduce it but it seems to work in my case. Did you make any changes to the notebook?

[2021-07-20 12:24] alobiz-a commented on #79
Hey, this is the Week 5 graded assignment notebook. No, I made no changes.

Il giorno mar 20 lug 2021 alle ore 12:08 Werner Van Geit <
***@***.***> ha scritto:

[2021-07-20 12:26] alobiz-a commented on #70
Thank you. Here is my userID:  309830. Username: alobiz

Il giorno mar 20 lug 2021 alle ore 08:55 stefanoantonel <
***@***.***> ha scritto:

[2021-07-21 11:41] wvangeit commented on #79
I assume you meant the Week 4 graded assignment notebook, right?

[2021-07-27 06:03] stefanoantonel commented on #70
While we are investigating this issue, if you need to submit your answers, you can just download the notebooks from [MOOC-neurons-and-synapses-2017](https://github.com/BlueBrain/MOOC-neurons-and-synapses-2017) repo.

To check which notebooks correspond to each week, see [weeks_config](https://github.com/BlueBrain/MOOC-neurons-and-synapses-2017/blob/master/weeks_config.json)

For the submission, as

[2021-08-13 10:42] alobiz-a opened #80 "Final assignment - compatibility with Windows"
Hi,
I am currently working through week 6 of the course but am having trouble with the start of the NMC portal notebook.

It seems that the command os.setenv is not recognised on a windows PC.

Is there anything I can replace it with?

![image](https://user-images.githubusercontent.com/76615392/129345473-f1631708-e3ba-460e-aff8-4a6db9dc6101.png)

[2021-08-13 22:45] alobiz-a opened #81 "os.unsetenv"
Hi,
I am currently working through week 6 of the course but am having trouble with the start of the NMC portal notebook.

It seems that the command os.unsetenv is not recognised on a windows PC.

Is there anything I can replace it with?

![image](https://user-images.githubusercontent.com/76615392/129345473-f1631708-e3ba-460e-aff8-4a6db9dc6101.png)

[2021-08-24 11:42] wvangeit commented on #80
I don't know about this particular issue, but I'm afraid quite a few other issues might pop up when using these notebooks on Windows. It's probably best to use the provided cloud infrastructure, or to use e.g. a linux VM to run the notebooks in.

[2021-08-24 11:50] jdcourcol commented on #80
the issue is referenced here :https://bugs.python.org/issue39413
It seems it is fixed with Python 3.9

[2021-08-31 14:55] stefanoantonel commented on #40
Is this something that can be closed?

[2021-08-31 14:55] stefanoantonel commented on #41
Is this something that can be closed?

[2021-08-31 14:56] stefanoantonel commented on #46
Is this something that can be closed?

[2021-08-31 14:56] stefanoantonel commented on #50
As the HBP Collab is deprecated. I'll close this

[2021-08-31 14:56] #50 closed

[2021-08-31 14:57] stefanoantonel commented on #51
It seems that the `Q1` does not contain the quotes. I'll close this

[2021-08-31 14:57] #51 closed

[2021-08-31 15:02] stefanoantonel commented on #53
@alex4200 Can we check if this is still relevant in the new iteration 2021 of this mooc?

[2021-08-31 15:04] stefanoantonel commented on #67
The HBP Collab is deprecated. I'll close this.

[2021-08-31 15:04] #67 closed

[2021-08-31 15:04] stefanoantonel commented on #68
The HBP Collab is deprecated. I'll close this.

[2021-08-31 15:04] #68 closed

[2021-08-31 15:05] #73 closed

[2021-08-31 15:16] stefanoantonel commented on #70
HBP Colla is deprecated. I am closing this issue.

[2021-08-31 15:16] #70 closed

[2021-09-01 13:05] alex4200 commented on #53
@stefanoantonel: The reported problem seems still to be the case. I mean, you get a misleading error message:

![Screenshot 2021-09-01 at 15 04 51](https://user-images.githubusercontent.com/12729291/131676268-8703d3d9-0264-41f5-bcc3-95a61262a6a2.png)

[2021-09-01 15:00] stefanoantonel commented on #53
Thank you @alex4200 I have created an internal fix for [tut_syns grader](https://github.com/BlueBrain/mooc-grading-service/commit/ab452a07fbad865405e63b293415fdb08c65a7c6)

[2021-09-07 21:53] alobiz-a opened #85 "Not a zipfile?"
Dear staff,

I have put a lot of effort into learning all the content for this course and I have done everything but the final graded exercise but now I am having some issues with the collab. First of all, I wasn't able to initalise the collab because of changes to the platform. I asked about this on Github and was directed to the jupyter notebook for week 6, which I was told to download to my dev

[2021-09-08 12:29] jdcourcol commented on #85
It seems similar to : https://github.com/BlueBrain/MOOC-neurons-and-synapses-2017/issues/61
where a fix has been delivered here: https://github.com/BlueBrain/MOOC-neurons-and-synapses-2017/pull/63/files

Would that solve your issue ?

[2021-09-15 21:01] joni-herttuainen opened #87 "Week 5: ballandstickopt.ipynb"
Hi,

I seem to have different plot from the ball and stick model than in the lecture video (should be 1 spike in the first and 5 spikes in the second subplot):
<img width="466" alt="ballandstickplot" src="https://user-images.githubusercontent.com/66068410/133506809-9e0414df-8e3b-4053-99e1-00239f84ffc1.png">

I noticed that the SWC string differs from what is in the video (at least). It is now:
[co

[2021-09-16 08:34] alex4200 commented on #87
Hello @joni-herttuaine, @stefanoantonel @wvangeit

It is correct that the SWC string creates some errors/warning, see [this ticket](https://github.com/BlueBrain/NeuroM/issues/953).

But I just tried the following morphology (only one line changes instead of 2):

morph_swc_string = """
1 1 0.0 0.0 -10.0 10.0 -1
2 1 0.0 0.0 0.0 10.0 1
3 1 0.0 0.0 10.0 10.0 2
4 3 0.0 10.0 0.0 2.0 1
5 3 0.0 110.0 0.0

[2021-09-16 08:41] stefanoantonel commented on #87
Thank you Alex. If I understood correctly the issue is mainly that the original was outputing 5 spikes instead of 4. So even with the original swc file, we get some difference

![Screenshot 2021-09-16 at 10 39 41](https://user-images.githubusercontent.com/4954312/133580039-6bfde3b5-224b-4b20-a394-74f5b199a145.png)

[2021-09-16 08:50] joni-herttuainen commented on #87
Hi @alex4200 , @stefanoantonel

That is correct, in the video, the original version was outputting 5 spikes.

The issue here is if a user doesn't get the same results as in the tutorial, how does he/she know he/she is doing everything correctly.

Moreover, since even with the same input as in the original, `neuron`/`ephys` produces different output than before, are we sure that the expected answer

[2021-09-16 22:23] joni-herttuainen commented on #87
Update: I finished the graded exercise for the week 5 and that one is unaffected.

[2021-09-21 13:58] jdcourcol commented on #85
Hello, without any feedback, I will close this issue next week.

[2021-09-27 06:43] jdcourcol commented on #85
no update from user. closing.

[2021-09-27 06:43] #85 closed

[2021-09-30 18:51] adrien-berchet opened #88 "Nexus tutorial failing"
Hello,

In the Nexus tutorial, when I try to run the `one_cell_minds` notebook, I get an error when I execute the following cell:
[code]

I think I followed the tutorial properly. Any clue?

Thanks!

[2021-10-01 07:43] MFSY commented on #88
Hi @adrien-berchet ,

Can you tell me the value of bucket, i.e f"{ORG}/{PROJECT}" ?

[2021-10-01 08:49] adrien-berchet commented on #88
Hello @MFSY
Indeed I did not see I had to set the PROJECT value, sorry about this...
Thanks for your help!

[2021-10-01 08:49] #88 closed

[2021-10-01 08:50] MFSY commented on #88
Thanks @adrien-berchet .

[2021-10-01 21:28] adrien-berchet opened #89 "Ball-and-stick: Exercise 2"
In
[code]
the `print` statement use py2 syntax (no parenthesis). It would be simpler for the student if the hints use proper py3 syntax.

[2021-10-04 14:41] alex4200 commented on #87
@joni-herttuainen @stefanoantonel  Anything left to do here?

[2021-10-05 07:36] joni-herttuainen commented on #87
I don't know. I have heard nothing after my latest update.

Depending on your course of action, there might not be anything to do here as the issue in the tutorial does not affect the graded exercise.  If that's the case, it would be nice (from users' point-of-view) to at least add some kind of a note/comment above the course video and/or in the notebook that the user might get 1 spike instead of

[2021-10-05 13:47] #87 closed

[2021-11-11 17:36] martasaccher opened #91 "One_cell_minds: ModuleNotFoundError"
I am trying to run the notebook one-cell_minds on binder ut I keep getting a Module not found error. I think there is some problem with the dependencies. Could you maybe help me?

![issue](https://user-images.githubusercontent.com/80199675/141343323-5c22b30e-d2a7-44a2-b414-d0f862599c6c.png)

Thank you in advance!

Marta

[2021-11-12 07:41] jdcourcol commented on #91
@MFSY can you look into that ?

[2022-02-16 13:34] jdcourcol opened #93 "Week 2 issue with login."
From HBP Zammad system: created 01/14/2021
https://support.humanbrainproject.eu/#ticket/zoom/6451

![image](https://user-images.githubusercontent.com/5441880/154275258-6092f506-a9a5-4a77-831e-ebdac265f704.png)

[2022-02-16 13:34] jdcourcol commented on #93
@samuel-kerrien Can you check if this is still relevant ?

[2022-02-16 13:36] jdcourcol opened #94 "Week 2 open id connect issue."
https://support.humanbrainproject.eu/#ticket/zoom/7808

![image](https://user-images.githubusercontent.com/5441880/154275622-9ad9d96d-a759-4670-99db-5a27cc2ba06c.png)

The issue is still happening (05/17/2021)

[2022-02-16 13:36] jdcourcol commented on #94
@samuel-kerrien  can you check if this is still relevant ?

[2022-02-16 13:38] jdcourcol opened #95 "week 2 grade assignment issue"
https://support.humanbrainproject.eu/#ticket/zoom/8393

![image](https://user-images.githubusercontent.com/5441880/154276074-696831ef-3f08-4c6e-ab07-7ec9bef17713.png)

[2022-02-16 13:38] jdcourcol commented on #95
@samuel-kerrien  another issue with week 2.

[2022-02-28 12:53] samuel-kerrien commented on #95
Dear user,

Thanks a lot for reporting your issue.

A new version of the edX MOOC has been released in September 2021 and it appears we have not appropriately updated the content in the HBP platform. The Simulation Neuroscience MOOC / Week 2, including its tutorial, is entirely documented in the edX platform. The current content of Week 2 in edX has a hands on tutorial but does not have a graded a

[2022-02-28 12:58] samuel-kerrien commented on #94
Dear user,

Thanks a lot for reporting your issue.

A new version of the edX MOOC has been released in September 2021 and it appears we have not appropriately updated the content in the HBP platform. The Simulation Neuroscience MOOC / Week 2, including its tutorial, is entirely documented in the edX platform (see the section Week 2 - Neuroinformatics > Tutorial). The current content of Week 2 in e

[2022-02-28 12:59] samuel-kerrien commented on #93
Dear user,

Thanks a lot for reporting your issue.

A new version of the edX MOOC has been released in September 2021 and it appears we have not appropriately updated the content in the HBP platform. The Simulation Neuroscience MOOC / Week 2, including its tutorial, is entirely documented in the edX platform (see the section Week 2 - Neuroinformatics > Tutorial). The current content of Week 2 in e

[2022-03-01 05:56] alex4200 commented on #94
Issue confirmed solved by user

[2022-03-01 05:56] #94 closed

[2022-03-01 09:54] alex4200 commented on #93
Issue has been solved by user

[2022-03-01 09:55] alex4200 commented on #95
Issue solved by user

[2022-03-01 09:55] #95 closed

[2022-03-23 00:00] PhaedraKS commented on #91
Hello, I am having this exact same problem.

[2022-03-23 07:46] stefanoantonel commented on #91
@MFSY any news on this?

[2022-03-23 07:59] MFSY commented on #91
Hi @stefanoantonel @PhaedraKS ,

Looking into this.

[2022-03-23 08:05] MFSY commented on #91
It should be fixed now. @PhaedraKS can you try again with the new version of the notebook and let us know if the error is fixed ?

[2022-03-23 22:25] PhaedraKS commented on #91
Thank you! That error is now fixed and that part of the tutorial now works 👍

[2022-03-24 07:04] #91 closed

[2022-03-25 06:09] PhaedraKS opened #96 "Week 2 tutorial: Integrate Neuroscience Datasets from Multiple Sources using MINDS"
Hello,
I just had this same issue but with another part of the tutorial.
I hope this issue can be fixed in a similar way.

Tutorial: Integrate Neuroscience Datasets from Multiple Sources using MINDS
Configure a forge client to store, manage and access datasets
error:
/srv/conda/envs/notebook/lib/python3.7/site-packages/rdflib_jsonld/__init__.py:12: DeprecationWarning: The rdflib-jsonld package has

[2022-03-25 08:16] jdcourcol commented on #96
@MFSY I am assigning that to you as it is week 2.

[2022-03-26 07:15] MFSY commented on #96
It should be fixed now. @PhaedraKS please try again and let us know if any error subsist.

[2022-03-26 08:37] PhaedraKS commented on #96
The error is fixed, thank you.
I also have a different error now

dataset_from_different_sources
select metadata
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
/tmp/ipykernel_61/1646912356.py in <module>
     32                                             __typename\n  }\n}\n"""
     33

[2022-03-26 23:32] PhaedraKS opened #97 "Week 2 Tutorial"
Hello,
I have this error now:

dataset_from_different_sources
select metadata

KeyError Traceback (most recent call last)
/tmp/ipykernel_61/1646912356.py in
32 __typename\n }\n}\n"""
33 })
---> 34 nm_mouselight_graphql = json.loads(nm_request.text)["data"]["searchNeurons"]["neurons"]
35 nm_mouselight_names = [x["idString"] for x in nm_mouselight_graphql]

KeyError: 'data'

[2022-03-28 07:55] MFSY commented on #96
Hi @PhaedraKS ,

Mouselight changed their API => hence the error. The error should be fixed now.

[2022-03-28 07:56] MFSY commented on #97
Hi @PhaedraKS ,

Mouselight changed their API => hence the error. The error should be fixed now.

[2022-03-30 01:38] PhaedraKS commented on #97
Yes very good,
it has worked and I have data in Sandbox.
Thank you!

[2022-03-30 06:42] MFSY commented on #97
Happy to help @PhaedraKS

[2022-03-30 09:41] jdcourcol commented on #97
don't forget to close @MFSY

[2022-03-30 09:41] #97 closed

[2022-03-30 16:23] MFSY commented on #97
Hi @jdcourcol ,

Thanks for closing. I do not have the necessary rights to close an issue in this repo.

[2022-03-31 06:22] jdcourcol commented on #97
sorry about that, I granted you permission.

[2022-03-31 07:01] MFSY commented on #97
Thanks @jdcourcol

[2022-03-31 07:02] MFSY commented on #96
Closing this issue see #97

[2022-03-31 07:02] #96 closed

[2022-04-29 00:13] PhaedraKS opened #98 "Week 2 tutorial section 4.4"
Hello,
The section 4.4 of tutorial week 2 says to: "Then create a Dashboard, using the SPARQL query above."
I managed to make a new dashboard area and it has that query space so I put this in the dashboard query:
________________________________________________________________
PREFIX nxv: <https://bluebrain.github.io/nexus/vocabulary/>
PREFIX nsg: <https://neuroshapes.org/>
PREFIX schema: <http://

[2022-04-29 06:27] jdcourcol commented on #98
@MFSY @samuel-kerrien , can one of you look at this issue ?

[2022-04-29 12:08] MFSY commented on #98
Hi @jdcourcol ,

I (or DKE) did not write this part of the tutorial. This is on @samuel-kerrien's team

[2022-05-01 14:21] samuel-kerrien commented on #98
Dear Phaedra,

Thanks a lot for getting in touch, sorry your are encountering issues in the tutorial.
I had a quick look at your query and it appears the formatting is different from the one in the tutorial page, in particular, it lacks the <> around the URI of the prefixes. Small details but the database likes it with them ;)

Please try to replace your query in the Studio Dashboard with the one

[2022-05-03 10:39] PhaedraKS commented on #98
Hello Samuel,
Thank you for your suggestion and your help, am I using the right tutorial page? https://bluebrainnexus.io/docs/getting-started/try-nexus.html#4-2-project-and-resource-views
I did copy the query from there and I tried copying it from your post as well.

I am not sure what these different options mean because the tutorial doesn't seem to say which one to use:
![image](https://user-ima

[2022-05-03 16:19] samuel-kerrien commented on #98
Dear Phaedra,

Thanks for your further explanation, I see now there is some critical information missing in the tutorial.
You are indeed looking at the correct tutorial:
- the query is taken from here: https://bluebrainnexus.io/docs/getting-started/try-nexus.html#4-3-query-neuroscience-data
- the explanation of how to create the Studio is here: https://bluebrainnexus.io/docs/getting-started/try-ne

[2022-05-04 02:02] PhaedraKS commented on #98
Thank you very much Samuel,
that is great that the tutorial will be updated with this critical information for others to benefit.
So, with the defaultSparqlIndex I end up with this:

![image](https://user-images.githubusercontent.com/97569886/166613243-ee144dcb-e41b-4b4d-9bfb-e2cad38d75f9.png)

Is there one more step missing somewhere that I need to do to somehow get everything organised under the

[2022-05-04 02:18] PhaedraKS commented on #98
Hurray!
I actually figured out what was happening and I have it the way it should be!

![image](https://user-images.githubusercontent.com/97569886/166614565-6b3abb62-010a-43cf-8fbb-b66566fa9776.png)

There was also no instruction about this preview button but I was just trying anything and suddenly its working properly:

![image](https://user-images.githubusercontent.com/97569886/166614768-39241e3

[2022-05-05 08:13] samuel-kerrien commented on #98
Hi Phaedra,

Glad you figured it out, looks like you have the Studio created in the end.
A few comments along the way:

- In [this message](https://github.com/BlueBrain/MOOC-neurons-and-synapses-2017/issues/98#issuecomment-1116863057), when I look at the first screen capture, I am guessing you have created the dashboard with the default SPARQL query that only shows one column.
- Now in your [last

[2022-05-05 08:13] #98 closed, assigned to MFSY